@use '../variables' as *;

.controls {
	width: 400px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	padding: 1rem 0;

	&__button {
		font-family: $font-primary;
		padding: 0.8rem 2rem;
		background-color: transparent;
		border: solid 1px $color-green;
		color: $color-green;
	}
}
