@use '../variables' as *;

.main {
	height: 60vh;
	display: flex;
	align-items: center;

	&__game {
		width: 400px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;

		border: solid 2px white;

		& .background {
			background-color: black;
			width: 20px;
			height: 20px;
		}

		& .snake-body {
			display: block;
			background-color: red;
			width: 20px;
			height: 20px;
			border-radius: 5px;
			// border-bottom: solid 2px $color-pink;
		}

		& .food {
			background-color: green;
			width: 20px;
			height: 20px;
			border-radius: 50%;
		}
	}
}
