@use '../variables' as *;

.nameArea {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #232323;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__heading {
		font-family: $font-primary;
		font-size: 4rem;
		color: $color-green;
		letter-spacing: 12px;
		margin-bottom: 200px;
	}

	&__input {
		padding: 0.4rem 1rem;
		border: none;
		border-bottom: solid 2px $color-green;
		background-color: transparent;
		font-family: $font-primary;

		color: $color-green;
		letter-spacing: 4px;

		&:focus {
			outline: none;
		}
	}

	&__color {
		display: flex;
		align-items: center;
		color: $color-green;
		font-family: $font-primary;

		&--select {
			border: none;
			outline: none;
			background-color: transparent;
			color: $color-green;
			padding: 1rem;
			font-family: $font-primary;
		}
	}

	&__option {
		background: green;
		padding: 1rem;
	}

	&__button {
		font-family: $font-primary;
		background-color: transparent;
		letter-spacing: 12px;
		border: none;
		padding: 1rem;
		border-radius: 25px;
		color: $color-green;
		border: solid 1px $color-green;
		cursor: pointer;
		transition: background-color ease 800ms;
		margin-top: 20px;

		&:hover {
			background-color: rgba($color-green, 0.6);
			color: white;
		}
	}
}
