body {
	background-color: black;
	color: white;
	overflow-y: hidden;
}

// .container {
// 	width: 640px;
// }

.hide {
	display: none !important;
}

.flexCol {
	display: flex;
	flex-direction: column;
}
