@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$color-yellow: #f0f14e;
$color-green: #6ded8a;
$color-blue: #1645f5;
$color-pink: #ff5f85;
$color-red: #ed3833;

$font-primary: 'Press Start 2P', cursive;
