@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

.hide {
  display: none !important;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.header {
  font-family: "Press Start 2P", cursive;
  font-size: 2.4rem;
  color: #6ded8a;
  text-align: center;
  padding-top: 1.2rem;
  letter-spacing: 10px;
  margin-top: 2rem;
}

.display {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Press Start 2P", cursive;
  font-size: 0.6rem;
  height: 60px;
}
.display__name--user {
  color: #6ded8a;
}
.display__heading--time, .display__heading--score {
  color: #6ded8a;
}

.main {
  height: 60vh;
  display: flex;
  align-items: center;
}
.main__game {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: solid 2px white;
}
.main__game .background {
  background-color: black;
  width: 20px;
  height: 20px;
}
.main__game .snake-body {
  display: block;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
.main__game .food {
  background-color: green;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.scoreBoard {
  display: none;
}
.scoreBoard .scoreItem {
  margin-top: 1rem;
  list-style: none;
  padding: 10px 0;
  color: white;
}

.nameArea {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nameArea__heading {
  font-family: "Press Start 2P", cursive;
  font-size: 4rem;
  color: #6ded8a;
  letter-spacing: 12px;
  margin-bottom: 200px;
}
.nameArea__input {
  padding: 0.4rem 1rem;
  border: none;
  border-bottom: solid 2px #6ded8a;
  background-color: transparent;
  font-family: "Press Start 2P", cursive;
  color: #6ded8a;
  letter-spacing: 4px;
}
.nameArea__input:focus {
  outline: none;
}
.nameArea__input--error {
  border-bottom-color: #ed3833;
}
.nameArea__error {
  font-family: "Press Start 2P", cursive;
  color: #ed3833;
  text-align: center;
  font-size: 0.6rem;
  margin-top: 22px;
  margin-bottom: 2px;
}
.nameArea__error--hide {
  display: none;
}
.nameArea__button {
  font-family: "Press Start 2P", cursive;
  background-color: transparent;
  letter-spacing: 12px;
  border: none;
  padding: 1rem;
  border-radius: 25px;
  color: #6ded8a;
  border: solid 1px #6ded8a;
  cursor: pointer;
  transition: background-color ease 800ms;
  margin-top: 20px;
}
.nameArea__button:hover {
  background-color: rgba(109, 237, 138, 0.6);
  color: white;
}

.controls {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.controls__button {
  font-family: "Press Start 2P", cursive;
  padding: 0.8rem 2rem;
  background-color: transparent;
  border: solid 1px #6ded8a;
  color: #6ded8a;
}

.loseScreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.loseScreen__heading {
  font-family: "Press Start 2P", cursive;
  color: #6ded8a;
  font-size: 2rem;
  letter-spacing: 10px;
}
.loseScreen__score {
  font-family: "Press Start 2P", cursive;
  color: #6ded8a;
  margin: 1rem 0;
}
.loseScreen__button {
  font-family: "Press Start 2P", cursive;
  padding: 0.8rem 2rem;
  background-color: transparent;
  border: solid 1px #6ded8a;
  color: #6ded8a;
}

@media screen and (min-width: 800px) {
  .main {
    height: 75vh;
  }
  .main__game {
    width: 600px;
  }
  .scoreBoard {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Press Start 2P", cursive;
    color: #6ded8a;
  }
  .controls {
    width: 600px;
  }
}/*# sourceMappingURL=main.css.map */